.login {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    height: 100vh;
    justify-content: center;
}

.login-heading {
    text-align: center;
    margin-bottom: 20px;
}

.error {
    color: red;
    margin: 5px 0;
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px 0;
}

.radio-group input {
    width: auto;
}

.radio-group label {
    margin: 0;
}

.profile-preview {
    margin-top: 10px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 2px solid #ccc;
}