.featured-booklist {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.featured-booklist .book-item {
    width: 30%;
    border: 2px solid #3C76C5;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-booklist .book-item img {
    width: 50%;
    border-radius: 8px;
    padding: 20px;
    margin: 0 auto;
}

.featured-booklist .book-item h3 {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}