header {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
}

.header-right{
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo{
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 600;
}