header {
    padding: 25px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #06366A;
    color: #ffffff;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 600;
}