.hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../../public/images/hero-banner.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-content {
    padding: 120px 80px;
}

.hero-content h1 {
    font-size: 48px;
    color: #ffffff;
    margin-bottom: 20px;
}

.hero-content h1 span {
    display: block;
}