.latest-authorlist {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.author-item {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author-item img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    border: 3px solid #3C76C5;
}

.author-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: #3C76C5;
    font-weight: bold;
}

.author-item p {
    font-size: 16px;
    color: #3C76C5;
    text-align: center;
}