.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.item {
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.item img {
    height: auto;
    max-height: 400px;
    object-fit: cover;
    max-width: 100%;
}

.rating {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.rating span {
    display: block;
    margin: 0 2px 0;
}

.location {
    margin-top: 5px;
    font-size: 12px;
    color: #777;
}

.heading{
    text-align: center;
}