nav ul li a {
    color: #000;
    text-decoration: none;
}

.topbar {
    display: flex;
    gap: 15px;
    justify-content: center;
    list-style-type: none;
}

.activeLink{
    text-decoration: underline;
    color: blueviolet;
}