.input-field {
    padding: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    background: #fff;
}

.input-field:focus {
    border-color: #007bff;
    outline: none;
}

.input-field::placeholder {
    color: #a9a9a9;
}

.label {
    display: block;
    margin: 10px 0 5px;
    font-weight: 600;
}